@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,800')
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	
	}
body {
	background-image: url("imgs/patron.jpg");
	color:#5F5757;
	
}
a{
	cursor: pointer;
}
.contenedor{
	width:90%;		
}
nav{
	padding-top: 1%;
}
nav ul{
	display:flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	padding-top: 5%;
	font-size: 1em;
	font-weight: bold;
}
nav a{
	color:#5F5757;
}
#slider{
	position: relative;
	margin: auto;
	margin-left: -3%;
	width: 100%;
	overflow: hidden;
}

#slider ul{
	position: relative;
	margin: auto;
	height: auto;
	width: 400%;
}

#slider ul li{
	float: left;
	width: 25%;
}

#slider ul li img{
	width: 100%;
}
.primer-seccion{
	padding-top: 5%;
	background-color: #FFF;
}

.segunda-seccion{
	padding-top:5%;
	background-color: #FFF;
}
.segunda-seccion img{
	width:100%;
}
.segunda-seccion .escondido{
	margin-left:0;
	padding-left:0;
}
.segunda-seccion p{
	margin-top:2%;
}

form{
	padding-top: 5%;
	color:#312F2F;
}
#gracias-div{
	padding-top: 2%;
}

#gracias{
	font-weight: bolder;
}
.extra{
	display:none;
}
.cabezaFlotante{
	z-index: 2;
	position: fixed;
	bottom: 2em;
	right:1em;
	
}
footer{
	padding-top:2%;
	margin-top:5%;
	background-color:#BAA4D7;

	/*height:200px;*/
}
footer ul{
	display:flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2em;
}
footer i{
	color:#686565;}

/* ---------------------- Media Queries ---------------------- */

/*----------------------- Tablet Landscape ------------------- */
@media all and (min-width: 768px) and (max-width: 1024px) {
	#logo{
		margin-left: 33%;
	}
}
/*----------------------- Phone Portrait & Smaller ----------- */
@media all and (max-width: 480px) {
	nav ul{
		display:none;
	}
	nav figure{
		margin-left:10%;
	}
	.cabezaFlotante{
		display:none;
	}
	#slider{
		margin-left:-10%;
	}

	#primera{
		display:none;
	}
	.apartado{
		margin-top:3%;
	}
	.redes-sociales{
		margin-left:-5%;
		margin-top:2%;
	}
	
}
/*---------------------Phone LandScape----------------*/
@media all and (min-width: 481px) and (max-width: 769px) {
	nav figure{
		margin-left:25%;
	}
	.cabezaFlotante{
		display:none;
	}
	#primera{
		display:none;
	}
	.apartado{
		margin-top:3%;
	}
}